/**
 * Custom style to kanboard project used by Memed
 *
 * Colors
 * Path of success http://www.colourlovers.com/palette/580974/Adrift_in_Dreams
 * Problem http://www.colourlovers.com/palette/349481/duck_problems
 */
body,
h1, h2, h3,
.task-board a,
.views li.active a {color: #555;}
.task-board {
    padding: 6px; 
    border-radius: 3px;
    margin-bottom: 5px;
}
.task-board.color-yellow, 
.task-summary-container.color-yellow, 
.color-picker-square.color-yellow {
    background-color: white;
    border-color: #E7E6E7;
}
.category-Deploy a,
.category-Blocked a,
.category-Métricas a,
.category-Inprovement a,
.category-Bug a {color: white;}

.category-Setup a,
.category-Spike a,
.category-Milestone a,
.category-Comunication a,
.category-Feature a {color: #555;}

.category-Spike {background-color: rgb(238, 238, 238);}
.category-Inprovement {background-color: #A8DBA8;}
.category-Métricas {background-color: #D2B279;}
.category-Setup {background-color: #b2ebf2;}
.category-Comunication {background-color: rgb(168, 207, 255);}
.category-Deploy {background-color: #0B486B;}
.category-Bug {background-color: #D45550;}
.category-Blocked {background-color: #863C39;}
.category-Feature {background-color: #CFF09E;}
.category-Milestone {background-color: #79BD9A;}

tbody td {border: none;}
div.task-board-recent {border-width: 1px;}
.board-task-list {
    padding: 7px;
    background-color: #F3F1F1;
    border-radius: 3px;
    margin: 3px;
}
.table-list-row {padding:6px;}
table td {padding: 0px;}
table th {font-size: 0.9em;}
table th a {color: #555;}
.task-board-category a {
    font-weight: normal;
    padding: 2px 4px;
    border-radius: 3px;
}
.task-board-category {
    border: none;
    font-weight: normal;
}
.task-tags li {
    color: #777;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    font-size: 12px;
}
#board td {
    height: 30px;
}
.board-column-expanded {
    font-size: 0.9em;
    height: 100%;
}
.board-add-icon i {font-size: 1em;}
.progress-bar .color-yellow {background-color: #A8DBA8;}
